<% provide :title, "Candle Fragrance Names" %>
<% provide :description, "A reference list of trademark names used to describe candle fragrances" %>
<% provide :header_image, image_path("candle_header_wide.jpg") %>
<div class="container">
  <h1>Candle Fragrance Names</h1>
  <div class="row" id="description">
    <div class="col-md-12">
      <p>
        Search hundreds of candle names and candle scent names! Sort by name, company, collection, or scent description.
      </p>
    </div>
  </div>
  <%= render 'social/nameable_table' %>
</div>
