#splash_header {
    background-attachment: fixed;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 57px;
    position: absolute;
}

#splash_spacer {
    min-height: 150px;
}

#wrapper {
    background-color: #FFFFFF;
}

h1 {
    padding: 0.5em 0;
    margin: 0.25em 0;
}
