<!--<ul class="nav nav-list">-->
<!--  <li class="active"><a href="#about">About</a></li>-->
<!--  <li><a href="#">Team</a></li>-->
<!--  <li><a href="#">Contact</a></li>-->
<!--</ul>-->

<div class="static-container">
  <div id="about">
    <h1>About Cognate</h1>

    <!--<h3>Cognate is the Internet's first and only name database and registration site.</h3>-->
    <h4>Claiming Your Trademark Rights</h4>

    <p>
        A Cognate Trademark Listing is for the more than 95% of US businesses that don’t register their trademarks with the US Patent and Trademark Office.
    </p>

    <p>
        Under US Law, you start earning trademark rights through <%= link_to "actual use", actual_use_path %> of your mark, no government registration (or fees) required. We provide a place for you to make a record of these rights.
    </p>

    <p>
        Before Cognate, people could stake out a claim for their business name in a number of ways: they could register with the federal government, register with their state, or file a “Doing Business As” (d/b/a) certificate with their state or county.  All of these options involve expensive government fees, and often the assistance of lawyers.
    </p>

    <p>
        The USPTO was started in a time before the internet existed. Companies registered their trademarks with the federal government to make other companies aware of their claim to their trademark rights. That is no longer necessary. You can list your trademark on Cognate and put other companies on notice of your claim to your rights instantly and at a global scale (that’s why they call it the world wide web).
    </p>

     <p>
        Our simple platform allows a company to list its name in a database specifically designed to create a trademark directory.
        When you list your trademark on Cognate, you make a clear and public claim to your “common law” trademark rights, which may be superior even to another party’s federal registration.  <%= link_to "Learn More", faq_path %>
    </p>
    <br/>
    <h4>Search</h4>

    <p>
        Cognate Business Search is for: </p>
        <ul>
            <li>Startups researching potential business names</li>
            <li>Anyone thinking about starting a new business</li>
            <li>Companies checking in on competitors</li>
            <li>Companies looking to rename or rebrand themselves</li>
            <li>Companies monitoring their brand for infringers</li>
        </ul>

    <p>
        Our database is currently focused on Massachusetts businesses, specifically Massachusetts corporations. Anyone looking to do business in the Commonwealth would be well served to start their name search here. Why spend hundreds of dollars on a search firm or lawyer when you can search here and spot a potential conflict before wasting precious time and money that could otherwise be used to grow your business?
    </p>

     <p>
        Our goal is to be the nation’s premiere common law trademark database.
    </p>

    <p>
        Since our site is currently in beta, our search services are FREE for the time being. Please take advantage of this! And feel free to <%= link_to "contact us", contact_path %> with any questions, comments, or feedback you may have!
    </p>


   <!--  <p>
        <h4>Cognate Social</h4>
    </p>

    <p>
        Cognate lets you stake a claim to the names you create for your possessions (like boats,
        pets, or cars) and pastimes (like your blog, team, or band name).  All you have to do
        sign up for a free account, and then register the names that are important to you.
    </p>

    <p>
        Cognate currently has twenty different categories of names.  You can register names in
        fifteen of these categories.  The other five categories, such as golf course names,
        are just for your reference.
    </p>

    <p>
        Even if you don’t have any names you want to register right now, you still have access
        to all of the names that are already on the site.  You can browse names submitted by
        other people, and be inspired to come up with some of your own.
    </p>

    <p>
        Cognate also lets you register other people’s names that you admire.
    </p> -->
  </div>

  <p>
    <strong>Cognate.com is currently in beta. Please <%= link_to "let us know", contact_path %> if
    you find a bug or have any feedback for us as we continue to improve the site.</strong>
  </p>

</div>

