<div class="static-container">
  <h1>Actual Use</h1>
  
  <p>
  Actual use of a trademark occurs when you use your trademark in connection with your goods or services.
  </p>

  <p>
  But there are some caveats and conditions that must be met in order for your mark to qualify as “actual use”.
  </p>

  <p>
  From U.S. Trademark Law 15 U.S.C. § 1127: 
  <br />
  “The term ‘use in commerce’ means the bona fide use of a mark in the ordinary course of trade, and not made merely to reserve a right in a mark.”
  </p>

  <p>
  This means that you must be conducting business using this name, not merely making a sale or offering a service in order to reserve your naming rights.
  </p>

  <p>
  In order to make trademark “use” on <strong>goods</strong>, you must meet the following two criteria: 
  <br />
  <ol>
    <li> 
      Your mark must appear on the goods themselves, their tags or labels, on their containers, or in certain cases on the displays associated with the goods,
    </li>
    AND</p>
    <li>
      the goods are sold or transported in commerce.
    </li>
  </ol>

  <p>
  In order to satisfy use requirements for <strong>services</strong>, the mark must either:
  <ol>
    <li>
      be used or displayed in the sale or advertising of the services and the services are rendered in commerce,
    </li>
  OR </p>
    <li>
      the services are rendered in more than one state or in the US and a foreign country.
    </li>
  </ol>

  <p>
    <strong>Examples of activities qualifying as “use” on goods:</strong>
  </p>
  <ul>
    <li>
      Placement of the Mark affixed to goods on their containers.
    </li>

    <li>
      Distribution of goods to the ultimate consumers free of charge (ex: placing the mark on a restaurant menu that is given to a take-out customer at no additional charge, could be used for menu items if you have a sandwich name like THE BIG GORILLA on the menu). 
    </li>

    <li>
      For pharmaceuticals, pre-clinical and clinical trials qualify as commercial use for the purpose of acquiring rights in a mark.
    </li>

    <li>
      Rights can be acquired by leasing, rather than selling a trademarked product. (ex: leasing a car or lawnmower)
    </li>

    <li>
      An offer to perform a service can suffice, even before it has been accepted. (ex: If you’re a web designer, using your mark on a proposal for a job or project is satisfactory, even if the client does not hire you.)
    </li>

    <li>
      Similarly, placing the mark on a working prototype of a product that you use for the purpose of attracting customers may constitute “use” of your trademark. This could be a functional beta site or minimum viable product where your goods or services can be bought and sold.
    </li>

    <li>
      Mere registration of a domain name is not sufficient “use” and neither is having a landing page for a ‘parked’ that domain. Domain names constitute use only when the website sells or offers actual goods or services. You must be actually doing business on or through your website.
    </li>

    <li>
      Use on a website: If you are selling or offering goods for sale, your site could qualify for use as an online retail store (think AMAZON).
    <ul>
        If you offer services such as consulting on your website, you are likely making use of your mark. 
      <br />
        If you are a nonprofit organization, using your name on your website, then this may be considered ‘use’ to identify the services of education or fundraising for charitable purposes. 
      <br />
        If you provide reviews, like restaurant reviews, your name on the website could be ‘use’ for services of providing restaurant reviews and/or database information about restaurants.
    </ul>
    </li>
  </ul>
</div>
