<div class="static-container">
	<h1>Contact Us</h1>
	<p>Please feel free to reach out to us with questions, comments, suggestions, or any other feedback you may have!</p>
	<p> <%= mail_to "info@cognate.com" %></p>
</div>
