<div class="static-container">
    <h1>The Cognate Team</h1>
    <p>
        <strong>Jess Collen</strong>, <em>Cofounder</em>. Jess is the founding partner of a well-known New York based intellectual property law firm, <a href="http://www.collenip.com">Collen IP</a> with over 25 years of experience. He has received numerous awards and national recognition for his experience and expertise in the field of trademarks and brand names. He also has a long background in the retail industry. 
        Years ago, Jess had an idea for a website dedicated to people’s love and fascination with names, something he saw first hand every day in trademark law. He realized that there was no centralized Internet database of business names, especially those that were not registered with the government. He also realized that people tend to be very attached to the all of the things that they name, and that – by and large – names have no online home.
    </p>
    
    <p>
        <strong>Bennett Collen</strong>, <em>Cofounder &amp; President</em>. Bennett took the website idea and developed it into a revolutionary business concept in the business of brand name registration and protection, revising the site through several iterations, each with varying features and services, to arrive at Cognate's trademark listing service. 
        Bennett graduated from Boston College in 2011, with a Bachelor of Science in Environmental Geosciences and a Bachelor of Arts in Communications. With two parents who are intellectual property attorneys, he has been around the trademark “community” his entire life. 
    </p>
    
    <p>
       <strong>Carl Morrissey</strong>, <em>CTO</em>. Carl joined Cognate in 2013, and built the current iteration of the website and database. Carl graduated from Bowdoin College in 2009, with degrees in Computer Science and Physics. He has extensive experience in web development and data-driven research software, and has worked with multiple high-growth companies in the process of launching new products and building a foundation for continued expansion. With a history of creating bulletproof, elegant web applications, Carl is well positioned to guide Cognate through its early stages.
    </p>

</div>
