<div class="static-container">
  <h1>Why Register?</h1>
  <p>
    Do you see something you think has a really great name?  Like a clever vanity license
    plate?  Or a blog or a restaurant? You can register these names on the Cognate database
    and others can appreciate them too.
  </p>
  
  <p>
    Or maybe you have you come up with a great name of your own? Like a hysterical fantasy
    sports team name; people outside of your league deserve to experience your creativity
    too.  Share the originality of your names! Inspire others or be inspired yourself!
  </p>
  
  <p>
    Register a name in one, two, or even all fifteen different categories currently open
    for registration. (More categories are coming; let us know if your favorite thing to
    name isn’t here).
  </p>
  
  <p>
    Cognate’s unique website is the only place that creates a platform for you to post, and share, the names you have given to the things you love or the great names other people are using.
  </p>
  
  <!--<hr/>  -->
  
  <h4>Business Class</h4>
  
    <p>
      Are there any legal benefits to registering your Business Name on Cognate Business Class?
    </p>
  
    <p>
      Of course as a starting point, only your attorney can fully advise you about your legal rights in names 
      and trademarks. But it is certainly true that only a very small percentage of all businesses go through 
      the formal trademark registration process for either their business name or the names of their products 
      and services. Trademark registration with the federal or state governments can be a lengthy and complicated 
      process. Cognate Business Class allows businesses to register their names in a centralized database, instantly
      and for free.
    </p>
  
    <p>
      Federal trademark registration allows the public to find your name or trademark, and makes a public record 
      of the fact that you claim rights to that name. A Cognate Business Class registration provides one central 
      place for businesses to register their names and to unequivocally stake out that public claim, without the 
      cost, expense and complications that discourage most businesses from taking advantage of the federal registration 
      process.
    </p>
  
    <p>
      Owners of names that are not registered at the federal or state level can have significant legal rights. 
      Let’s say Zack started “ShopX” in 2009 and has used that name ever since. (Zack never registered his name with 
      either the Patent and Trademark Office or the state.) BIGCOMPANY, a competitor, starts using the name “ShopX” a 
      year later, in 2010, and applies to register it with the United States Patent and Trademark Office that year.  
      When BIGCOMPANY opens a store in Zack’s neighborhood, Zack’s company (even without a federal registration) will 
      have superior legal rights. This is because Zack, as the owner of the trademark, used “ShopX” before BIGCOMPANY 
      used the trademark or applied to register the name with the Trademark Office.  If Zack had made a FREE registration
      on Cognate, BIGCOMPANY could have known about Zack’s prior rights and may never have tried to use “ShopX.”
    </p>
  
    <p>
      According to Forbes, up to 5 million new enterprises are started every year in the United States since 2011. But
      less than 200,000 brand names are registered annually as trademarks with the United States Patent and Trademark 
      Office. This means that literally millions of new business, brand, and product names go unregistered and un-
      researched every year.
    </p> 
  
    <p>
      When big companies select a new trademark, they typically search three places: the U.S. Patent and Trademark 
      Office, state trademark registries, and a third area of research called “common-law” trademark searching.  
      A common law trademark search looks through hundreds, and sometimes thousands of different databases that may 
      use or mention names.  So if you have used a name, there is a chance that it will pop up somewhere in one of 
      these searches. But there is no substitute for simply registering your claim to rights in a name, which you 
      can do for free, and fast, only on Cognate Business Class.
    </p>
  
    <p>
      Next to you, your name - whether your company is selling globally or is an Internet startup - may be your 
      company’s most important asset, and is likely to be its most visible. Even the smallest businesses, like 
      the shopkeeper who pays just a little extra to print his store name on shopping bags, the plumber who puts 
      his name on his trucks, or dental offices that imprint the doctor’s name on a toothbrush, invest in names.
    </p>
  
    <p>
      If you are opening a business, it can be useful to have your name registered in a recognized database. 
      Registering your name where customers and competitors can find it could easily help you avoid a situation 
      like the one Zack faced.  The good news is that his rights in “ShopX” trumped BIGCOMAPNY’s rights. But if his 
      name had been in the Cognate database, any other company that wished to use “ShopX,” or even a name similar 
      to “ShopX,” could have seen that it was taken.  You can blindly hope that your company name will be found in 
      a common law search, or you can take the fast and direct approach and register your claim to your trademark 
      for free on Cognate Business Class.
    </p>
  
    <p>
      Successful businesses make a huge investment of time and effort to think of exactly the right name – one that
      conveys the right image both to their existing customers, and to the new customers they want to attract. All
      of that time and effort can pay off tremendously, because a word – a name – can mean a great deal.
    </p>
  
    <p>
      Though not every company may have valuable copyrights or patents, the companies that do not consider their
      names to be critically important to their success are few and far between. Business names are vital pieces 
      of property.
    </p>
</div>
