<footer>
  <nav class="navbar navbar-static-bottom navbar-inverse" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "About",   main_app.about_path, class: "small" %></li>
        <li><%= link_to "Team",    main_app.team_path, class: "small" %></li>
        <li><%= link_to "Contact", main_app.contact_path, class: "small" %></li>
        <li><%= link_to "Terms",   main_app.terms_path, class: "small" %></li>
      </ul>
    </div>
  </nav>
</footer>
